.menu-icon {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1001;
  width: 4rem;
  height: 4rem;
  padding: 0.4rem;
  border-radius: 1px;
  border: 1px solid #eee;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-icon:hover {
  box-shadow: 0px 0px 3px 3px var(--clr-sft-ylw);
}

.menu-icon span {
  background: #fff;
  margin: 0.4rem 0;
  height: 0.2rem;
  width: 100%;
  display: block;
}

#close-menu {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  color: #fff;
  width: 100%;
  height: auto;
  display: none;
  background-color: inherit;
}

#checked {
  display: none;
}

#checked:checked ~ .side-header {
  right: 0;
}

#checked:checked ~ label span span:not(#close-menu) {
  display: none;
}

#checked:checked ~ label span #close-menu {
  display: block;
}

.side-header {
  position: fixed;
  top: 0;
  right: -30rem;
  z-index: 1000;
  height: 100vh;
  width: 30rem;
  background: var(--clr-sft-blk);
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.side-header img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 0.7rem solid var(--clr-sft-ylw);
}

.side-header h1 {
  font-size: 3rem;
  color: var(--clr-hrd-wht);
}

.side-header h2 {
  font-size: 2rem;
  color: var(--clr-sft-ylw);
}

.side-header nav {
  width: 100%;
}

.side-header nav ul {
  list-style: none;
  padding: 1rem 3rem;
}

.side-header nav a {
  display: block;
  padding: 0.8rem;
  margin: 1.5rem 0;
  background: var(--gdt-btn-blk);
  color: var(--clr-hrd-wht);
  font-size: 2rem;
  border-radius: 5rem;
}

.side-header nav a:hover {
  background: var(--gdt-btn-ylw);
  color: var(--clr-hrd-blk);
  font-weight: bold;
}

nav li.active a{
  background: var(--gdt-btn-ylw);
  color: var(--clr-hrd-blk);
  font-weight: bold;
}

@media (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
  .side-header {
    position: fixed;
    top: 0;
    right: 0;
  }
  body main {
    margin-right: 31rem;
  }
  footer{
    margin-right: 30rem;
  }
}

@media (max-width: 900px) {
  .menu-icon {
    display: black;
  }
  .side-header {
    position: fixed;
    top: 0;
    right: -30rem;
  }
  
}

/*end header style*/
